:root {
    --vp-custom-block-tip-code-bg: #313244;
}

.VPSidebar {
    scrollbar-width: thin;
    scrollbar-color: #bac2de #e6e9ef;
    padding-bottom: 32px !important;
}

.dark .VPSidebar {
    scrollbar-color: #11111b #181825;
}

.vp-doc pre {
    scrollbar-width: thin;
    scrollbar-color: #bac2de #e6e9ef;
}

.dark .vp-doc pre {
    scrollbar-color: #11111b #181825;
}

.table-list {
    display: flex;
    flex-wrap: wrap;
}

.table-list .entry {
    display: flex;
    box-sizing: border-box;
    width: 133px;
    border: 1px solid var(--vp-c-border);
    padding: 5px;
    margin: 2px;
}

.table-list .entry-wide {
    display: flex;
    box-sizing: border-box;
    width: 166px;
    border: 1px solid var(--vp-c-border);
    padding: 5px;
    margin: 2px;
}

.table-list span {
    margin-left: 5px;
}

.ph-icon {
    width: 24px;
    height: 24px;
}

.dark .ph-icon {
    filter: invert(100%);
}

.steam-widget {
    display: flex;
    border-radius: 4px;
    border-top: 1px solid #424c5c;
    border-left: 1px solid #424c5c;
    background: linear-gradient(130deg, #3b4351, #282e39);
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.4);
    padding: 1rem;
    margin: 1.5rem 0;
    position: relative;
    font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
}

.steam-widget img {
    width: 128px;
    height: 128px;
    margin-right: 1.5rem;
}

.steam-widget p {
    font-size: 13px;
    color: #c9c9c9;
    line-height: 16px;
}

.steam-widget .title {
    font-size: 21px;
    line-height: 28px;
    color: #fff;
    text-decoration: none;
    transition: none;
    text-shadow: none;
}

.steam-widget .title:hover {
    color: #66c0f4;
}

.steam-widget .button {
    border-radius: 4px;
    border: 2px solid #353e4d;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: #D2E885;
    background: #a4d007;
    background: -webkit-linear-gradient(0deg, #a4d007 5%, #536904 95%);
    background: linear-gradient(180deg, #a4d007 5%, #536904 95%);
    transition: none;
    padding: 0 15px;
    font-size: 15px;
    line-height: 30px;
}

.steam-widget .button:hover {
    color: #fff;
    background: #b6d908;
    background: -webkit-linear-gradient( top, #b6d908 5%, #80a006 95%);
    background: linear-gradient( to bottom, #b6d908 5%, #80a006 95%);
}